{% extends 'base.html' %}

{% block content %}

<h1 class="header-content">Credential Management</h1>
<div class="d-flex flex-column justify-content-center align-items-center align-content-center">
    <form class="" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- todo: create choices for user using dropdown based on IP address -->

        {% for vendor, attr in firewall.items %}
            {% for ip, user in attr.items %}
                <div class="form-group pt-3 pb-3">
                    <label for="firewall-user">User for {{ vendor }} at {{ ip }}:</label>
                    <select class="form-select" class="checks" name="checks">
                        {% for u in user %}
                            {% if u.selected == True %}
                                <option selected value="opt-{{ u.id }}">{{ u.username }}</option>
                            {% else %}
                                <option value="opt-{{ u.id }}">{{ u.username }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="form-group pt-2 pb-2">
            <input class="btn btn-primary form-control" type="submit" value="Use Credential">
        </div>
    </form>

    <div class="d-flex flex-column justify-content-center align-items-center align-content-center">
        <a class="pt-2 pb-2" href="{% url 'firemation_app:register_credential' %}">
            <input class="btn btn-primary form-control" type="submit" name="register" value="Register Credential">
        </a>

        <a class="pt-2 pb-2" href="{% url 'firemation_app:delete_credential' %}">
            <input class="btn btn-primary form-control" type="submit" name="delete" value="Delete Credential">
        </a>

        <a class="pt-2 pb-2" href="{% url 'firemation_app:menu' %}">
            <input class="btn btn-primary form-control" type="submit" name="back" value="Back">
        </a>

        <p>*If not set, then Firemation will use the first credential it found from the database.</p>
    </div>
</div>

{% endblock %}