{% extends 'base.html' %}

{% block content %}

<h1 class="header-content">Delete Credential</h1>
<div class="d-flex flex-column justify-content-center align-items-center align-content-center">
    <form action="" method="POST">
        <div class="container text-center">
            <div class="table-responsive">
                {% csrf_token %}
                {{ form.as_p }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th scope="col">No.</th>
                                {% for key in column_name %}
                                    <th scope="col">{{ key }}</th>
                                {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in user %}
                            <tr>
                                <th><input type="checkbox" name="checks" value="opt-{{ u.id }}"></th>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ u.username }}</td>
                                <td>{{ u.firewall_ip }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
            <div class="form-group pt-2 pb-2">
                <input class="btn btn-primary form-control" type="submit" value="Delete Credential">
            </div>
        </div>
    </form>

    <a class="pt-2 pb-2" href="{% url 'firemation_app:credential_management' %}">
        <input class="btn btn-primary form-control" type="submit" name="back" value="Back">
    </a>
</div>

{% endblock %}