{% extends 'base.html' %}
{% load util %}

{% block content %}

{% if fw_chosen == True %}
    <h1 class="header-content">Read Rule on {{ fw_vendor }} at {{ fw_option }}</h1>
    <p class="text-start">Currently logged on as {{ username }}</p>
{% else %}
    <h1 class="header-content">Read Rule</h1>
{% endif %}

<div class="d-flex flex-column justify-content-center align-items-center align-content-center">
    {% if fw_chosen == False %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group pt-2 pb-2">
                <label for="firewall_ip">Read from Firewall with IP:</label>
                <select class="form-select" name="firewall_ip" aria-label="">
                    <option selected>Select the IP of Firewall</option>
                    {% for fw in firewall_ip %}
                        <option value="opt-{{ fw }}">{{ fw }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group pt-2 pb-2">
                <input class="btn btn-primary form-control" type="submit">
            </div>
        </form>
        
        <a href="{% url 'firemation_app:menu' %}">
            <input class="btn btn-primary form-control" type="submit" name="back" value="Back">
        </a>

    {% elif fw_chosen == True %}
        <div class="container">
            {% if rules|get_length > 0 %}
                <input class="form-control" id="search-rule-input" type="text" placeholder="Search">
                <div class="table-responsive-lg">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                {% for key in column_name %}
                                    <th scope="col">{{ key }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody id="rule-table">
                            {% for rule in rules %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    {% for key, value in rule.items %}
                                        <td>
                                            {% if value|get_type == 'list' %}
                                                {% for item in value %}
                                                    <p>{{ item }}</p>
                                                {% endfor %}
                                            {% else %}
                                                {{ value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-center">There is no rule.</p>
            {% endif %}
        </div>

        <a href="{% url 'firemation_app:menu' %}">
            <input class="btn btn-primary form-control" type="submit" name="back" value="Back">
        </a>

    {% endif %}    

</div>
{% endblock %}