{% extends 'base.html' %}

{% block content %}

<h1 class="header-content">Register Firewall</h1>
<div class="d-flex flex-column justify-content-center align-items-center align-content-center">
    <form class="" action="" method="POST">
        {% csrf_token %}

        <div class="form-group pt-2 pb-2">
            <label for="firewall-name">Firewall Name:</label>
            <input class="form-control" type="text" id="firewall-name" name="firewall-name">
        </div>

        <div class="form-group pt-2 pb-2">
            <label for="firewall-ip">IP Address:</label>
            <select class="form-select" name="firewall-ip" aria-label="">
                <option selected>Select the IP of Firewall</option>
                {% for f in firewall_ip %}
                    <option value="{{ f }}">{{ f }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group pt-2 pb-2">
            <label for="firewall-vendor">Firewall Vendor:</label>
            <select class="form-select" name="firewall-vendor" aria-label="">
                <option selected>Select the Vendor of Firewall</option>
                <option value="Cisco ASA">Cisco ASA</option>
                <option value="Fortinet">Fortinet</option>
                <option value="Palo Alto Networks">Palo Alto Networks</option>
            </select>
        </div>

        <div class="form-group pt-2 pb-2">
            <input class="btn btn-primary form-control" type="submit">
        </div>
    </form>

    <a href="{% url 'firemation_app:firewall_management' %}">
        <input class="btn btn-primary form-control" type="submit" name="back" value="Back">
    </a>
</div>

{% endblock %}