{% extends 'base.html' %}

{% block content %}

<h1 class="header-content">Register Credential</h1>
<div class="d-flex flex-column justify-content-center align-items-center align-content-center">
    <form class="" action="" method="POST">
        {% csrf_token %}
        <div class="form-group pt-2 pb-2">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username">
        </div>

        <div class="form-group pt-2 pb-2">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>

        <div class="form-group pt-2 pb-2">
            <label for="firewall_ip">IP Address of Firewall:</label>
            <select class="form-select" name="firewall_ip" aria-label="">
                <option selected>Select the IP of Firewall</option>
                {% for fw in firewall_ip %}
                    <option value="opt-{{ fw }}">{{ fw }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group pt-2 pb-2">
            <input class="btn btn-primary form-control" type="submit">
        </div>
    </form>

    <a href="{% url 'firemation_app:credential_management' %}">
        <input class="btn btn-primary form-control" type="submit" name="back" value="Back">
    </a>
</div>

{% endblock %}